body {
    background-color:#1E2330
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size:90px;
    text-align:center;
    color:white;
}

.container {
  width:700px;
  height:440px;
  background: #F8F8F8;
  margin:4% auto;
  border: 4px solid #17252A;
  box-shadow: 0 30px 40px rgba(0,0,0,.5);
  text-align:center;
  position:relative;
}

.container .form {
  position: relative;
}

.column .right {
  float:right;
  width:359px;
  height:431.5px;
  background-color:#3AAFA9;
  background:cover;
  /*position: relative; top:-412px; right:-64.5px;*/
  position: relative; top:-58.7%; right:13.5%;
}

input[type=text] {
    width: 500px;
    height: 50px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

input[type=submit] {
    height:40px;
  width:100px;
  font-family: 'Montserrat', sans-serif;
    position:relative; top:35px;
}

h3 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    
}